{% extends "main_app/base.html" %}

{% block head_content %}

{% endblock %}

{% block body_content %}
    <div class="container py-4">
        <div class="p-5 mb-4 bg-dark rounded-3 shadow">
          <div class="container-fluid py-5 text-white">
            <p class="display-2 fw-bold"><i class="fa-solid fa-bahai"></i> АСТРА</a></p>
            <p class="display-4 fw-bold">Индивидуальные заказы мебели для дома </p>
            <p class="col-md-8 fs-4">АСТРА — небольшая независимая студия, базирующаяся в городе Ростове-на-Дону.</p>
            <a class="btn w-25 btn-outline-light btn-lg" type="button" href="{% url "catalog" %}">Каталог</a>
          </div>
        </div>
        <div class="row align-items-md-stretch gy-4">
          <div class="col-md-6 gy-4">
            <div class="h-100 p-5 rounded-3 bg-light shadow">
              <h1 class="display-6">Шкафы</h1>
              <p class="fs-5">И не только они. Мы работаем с разными стилями и функционалом, подбираем для каждого клиента уникальные решения.</p>
              <a class="btn btn-outline-dark" href="{% url "catalog" %}">Перейти в каталог товаров</a>
            </div>
          </div>
          <div class="col-md-6 gy-4">
            <div class="h-100 p-5 bg-light border rounded-3 shadow">
              <h1 class="display-6">Астра?</h1>
              <p class="fs-5">Что означает название компании?  <br> Мебель должна создавать <strong>атмосферу</strong> — это важно, чтобы вымогли чувствовать себя комфортно дома после тяжёлого дня.
              Мебель должна быть <strong>стильной, тактильной, родной и аккуратной</strong>.</p>
              <a class="btn btn-outline-dark" href="{% url "about" %}">Информация о нас</a>
              <a class="btn btn-outline-dark" href="{% url "about" %}#calbackform">Заказать обратный звонок</a>
            </div>
          </div>
        </div>
    </div>
{% endblock %}